/* Universal Selector */
*{
    margin: 2px;
}
body{
    font-size: 24px;
    color: white;
    height: 100vh;
    text-align: center;
     display: flex;
    flex-direction:column ; 
} 
.flex-header{
    background-color: blue;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.flex-main{
display: flex;
flex: 1;

}
.flex-nav{
    background-color: coral;
    padding-top: 3rem;
    flex: 1 1 5rem;
}
.flex-article{
    background-color: darkgreen;
    padding-top: 3rem;
    flex: 1 1 5rem;
}
.flex-aside{
    background-color: darkorchid;
    padding-top: 3rem;
    flex: 1 1 5rem;
}
.flex-footer{
    background-color: darkturquoise;
    padding-top: 3rem;
    padding-bottom: 3rem;
}