body{
    margin:0;
}
.container{
    border:6px solid black;
  display: flex; 
  flex-shrink:1;


}
.flex-item{
    color: rgb(204, 22, 22);
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;

}
.item-1{
    background-color: yellow;
    align-self:flex-start
}
 .item-2{
    background-color: tomato;
   
}
.item-3{
    background-color: turquoise;
}
.item-4{
    background-color: violet;
}
.item-5{
    background-color: blueviolet;
   flex-grow: 1;
}
.item-6{
    background-color: crimson;
   
    
}
.item-7{
    background-color: rgb(87, 2, 34);
}
.item-8{
    background-color: red;
}
.item-9{
    background-color: green;
} 