div#parentHeader {
    background-color: darkgray;
}
header {
    width: 900px;
    margin: 0 auto;
    overflow: auto;
}
div#headerLogo {
    margin: 10px;
    float: left;
    width: 270px;
}
nav {
    width: 600px;
    background-color: aquamarine;
    float: right;
    margin-top: 20px;
}
header li {
    display: inline;
    margin-right: 60px;
}
div#imageDiv {
    width: 900px;
    margin: auto;
    margin-top: 10px;
}
#imageDiv img {
    width: 900px;
    height: 350px;
}
div#parentSection {
    width: 900px;
    margin: 0 auto;
    overflow: auto;
}
.imageDives {
    width: 220px;
    height: 150px;
    float: left;
}
figure {
    width: 200px;
}
figure img {
    width: 200px;
}
div#articleDiv {
    width: 900px;
    margin: 0 auto;
    overflow: auto;
}
article {
    width: 425px;
    float: left;
    height: 250px;
}
div#articleImage {
    width: 425px;
    float: right;
    height: 250px;
}
#articleImage img {
    width: 415px;
    height: 225px;
    border: 1px solid;
    padding: 4px;
}
*{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: small;
    }
 div#parentsection {
background-color: darkgrey;
}
div#subParent {
width: 900px;
margin: 0 auto;
overflow: auto;
}
section {
width: 225px;
float: left;
}
section h3 {
margin-left: 43px;
}
section ul {
list-style-type: none;
}
section ul li {
line-height: 2;
border-bottom: 1px solid;
}
section ul li a {
text-decoration: none;
color: gold;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
}